<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.Category %>
</p>

<p>
  <strong>Type:</strong>
  <%= @category.Type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.Description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
