<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @transaction.Date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.Amount %>
</p>

<p>
  <strong>Details:</strong>
  <%= @transaction.Details %>
</p>

<p>
  <strong>Category:</strong>
  <%= @transaction.Category %>
</p>

<p>
  <strong>Account:</strong>
  <%= @transaction.Account %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
